.client-details{
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
  }

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
    width: 360px;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    padding: 15px;
}

.embla__buttons {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.embla__button {
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.embla__button:disabled {
    color: var(--detail-high-contrast);
}

.embla__button__svg {
    width: 35%;
    height: 35%;
}

.details-content{
    padding: 15px;
}