:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #312e2e;

  /*mettre des variables biens pour les couleurs*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Oswald';
  src: url('src/assets/fonts/Oswald.ttf') format('truetype');
}
@font-face {
  font-family: "Inter";
  src: url('src/assets/fonts/Inter.ttf') format('truetype');
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
  font-size: 2em;
  line-height: 1.1;
  font-family: "Oswald";
  font-weight: bold;
  text-transform:uppercase;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  font-size: 2em;
  line-height: 1.1;
  font-family: "Oswald";
  font-weight: bold;
  text-transform:uppercase;
  font-weight: 500;
  line-height: 1.1;
}

p {
  font-family:"Inter";
  font-size: 16px;
  width: fit-content;
}

.fitready{
  line-height: 1.1;
  font-family: "Oswald";
  font-weight: bold;
  text-transform:uppercase;
  font-weight: 500;
  margin: 0;
  font-size: 24px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 5px;
  color:#ffffff;
}

/* Style pour les barres */
.titlebarre {
  display: inline-block; 
  width: 30px; 
  height: 2px; 
  background-color:#ffffff; 
  margin: 0 10px;
  vertical-align: middle;
  

}

/* Style pour le texte */
.titlefit {
  display: inline-block; 
  font-size: 24px; 
  color: #000; 
}

.inputSaisie{   
  width: 180px;
  border: 1px solid rgb(105, 105, 105);
  border-radius : 10px;
  height: 100%;
  font-family: "Inter";
  outline: none;
  height: 25px;
  width: 90%;
  margin-bottom: 12%;
  text-align: center;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05)
}

::-webkit-input-placeholder {
  font-style: italic;
  color:rgb(140, 140, 140);
}

:-moz-placeholder {
  font-style: italic;  
  color:rgb(140, 140, 140);
}
::-moz-placeholder {
  font-style: italic;
  color:rgb(140, 140, 140);
}
:-ms-input-placeholder {  
  font-style: italic;
  color:rgb(140, 140, 140);
}

.loginSubmit {
  width: 48px;
  height: 48px;
  filter: invert(84%) sepia(3%) saturate(0%) hue-rotate(353deg) brightness(104%) contrast(96%);
  padding: 8px;
  background-color: rgb(190, 190, 190);
  border-radius: 32px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

.logo{
  height: 200px;
  padding-top:1px;
  padding-bottom: 5px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Inter";
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .icon{
    fill: #000000;
    /*marche pas, voir pour que la couleur s'adapte au thème de l'ordi*/
  }
}

.client-card{
  border:1px solid grey;
  border-radius : 30px;
  font-family: "Inter";
  outline: none;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
  text-align: left;
  padding: 10px;
}

.client-list{
  display: grid;
  height: 100%;
  grid-auto-flow: row;
  gap:20px
}

.loader {
  /*il faut centrer cette div au milieu de la page */
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.error-p:empty::before {
  content: "\A0";
}

.search-bar{
  width:100%;
}
/* ^^^^ moi ici je voulais que ça fill toute la largeur de la div parent*/
.search-input{
  height: 2rem;
  border:1px solid grey;
  border-radius : 30px;
  font-family: "Inter";
  outline: none;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
  width: -webkit-fill-available;
}


.search-icon{
  height: 30px;
  fill:#f3f3f3
}

.weight-graph{
  width:100% ;
  height:200px
}
/*^^ inutilisé */

.content-card{
  display: grid;
  grid-auto-flow:column;
  justify-content: space-between ;
  align-items: center;
  
}

.inside-card{
  display: grid;
  grid-auto-flow:column;
  align-items: center;
  gap:12px;
  }

  .name-card{
    font-size: 25px;
    font-family: "Oswald";
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }

  .overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
  }